.codebuddy/
scripts/err_stats/raw_all/
*.dir/
*.file/
.workbuddy/
autom4te.cache/
__pycache__/
rnnoise_data-0a8755f8e2d834eff6a54714ecc7d75f9932e845df35f8b59bc52a7cfe6e8b37.tar.gz
aclocal.m4
en_ng_male/
.deps/
m4/
.libs/
*.o
*.lo
build-*
config.h.in*
config.log
config.sub
config.guess
config.status
depcomp
.DS_Store
*.sw
.dirstamp
rnnoise_data*
Makefile
Makefile.in
*.pc
